{
  "openapi": "3.0.3",
  "info": {
    "title": "Stirling PDF - Processing API",
    "description": "API documentation for PDF processing operations including conversion, manipulation, security, and utilities. Please note all requests require authentication and as such should have a 'X-API-KEY' provided in their header",
    "termsOfService": "https://www.stirling.com/terms",
    "contact": {
      "name": "Stirling PDF",
      "url": "https://www.stirling.com",
      "email": "contact@stirlingpdf.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://raw.githubusercontent.com/Stirling-Tools/Stirling-PDF/refs/heads/main/LICENSE"
    },
    "version": "1.0.1"
  },
  "servers": [
    {
      "url": "https://api.stirling.com",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "General",
      "description": "Core PDF processing operations for fundamental document manipulation workflows.\n\nThis endpoint group provides essential PDF functionality that forms the foundation\nof most document processing workflows across various industries.\n\nCommon use cases:\n• Document preparation for archival systems and content organization\n• File preparation for distribution, accessibility compliance, and batch processing\n• Document consolidation for reporting and legal compliance workflows\n\nTypical applications:\n• Content management, publishing workflows, and educational content distribution\n• Business process automation and archive management\n\nTarget users: Content managers, document processors, and organizations requiring\nreliable foundational PDF manipulation capabilities.\n"
    },
    {
      "name": "Filter",
      "description": "Document content filtering and search operations for information discovery and organization.\n\nThis endpoint group enables intelligent content discovery and organization within\ndocument collections for content-based processing and information extraction.\n\nCommon use cases:\n• Legal discovery, research organization, and compliance auditing\n• Content moderation, academic research, and business intelligence\n• Quality assurance and content validation workflows\n\nBusiness applications:\n• Contract analysis, financial review, and healthcare records organization\n• Government processing, educational curation, and IP protection\n\nWorkflow scenarios:\n• Large-scale processing, automated classification, and information extraction\n• Document preparation for further processing or analysis\n\nTarget users: Legal professionals, researchers, compliance officers, and\norganizations requiring intelligent document content discovery and organization.\n"
    },
    {
      "name": "Convert",
      "description": "Document format transformation services for cross-platform compatibility and workflow integration.\n\nThis endpoint group enables transformation between various formats, supporting\ndiverse business workflows and system integrations for mixed document ecosystems.\n\nCommon use cases:\n• Legacy system integration, document migration, and cross-platform sharing\n• Archive standardization, publishing preparation, and content adaptation\n• Accessibility compliance and mobile-friendly document preparation\n\nBusiness applications:\n• Enterprise content management, digital publishing, and educational platforms\n• Legal document processing, healthcare interoperability, and government standardization\n\nIntegration scenarios:\n• API-driven pipelines, automated workflow preparation, and batch conversions\n• Real-time format adaptation for user requests\n\nTarget users: System integrators, content managers, digital archivists, and\norganizations requiring flexible document format interoperability.\n"
    },
    {
      "name": "Pipeline",
      "description": "Automated document processing workflows for complex multi-stage business operations.\n\nThis endpoint group enables organizations to create sophisticated document processing\nworkflows that combine multiple operations into streamlined, repeatable processes.\n\nCommon use cases:\n• Invoice processing, legal document review, and healthcare records standardization\n• Government processing, educational content preparation, and publishing automation\n• Contract lifecycle management and approval processes\n\nBusiness applications:\n• Automated compliance reporting, large-scale migration, and quality assurance\n• Archive preparation, content delivery, and document approval workflows\n\nOperational scenarios:\n• Scheduled batch processing and event-driven document processing\n• Multi-department coordination and business system integration\n\nTarget users: Business process managers, IT automation specialists, and organizations\nrequiring consistent, repeatable document processing workflows.\n"
    },
    {
      "name": "Analysis",
      "description": "Document analysis and information extraction services for content intelligence and insights.\n\nThis endpoint group provides analytical capabilities to understand document structure,\nextract information, and generate insights from PDF content for automated processing.\n\nCommon use cases:\n• Document inventory management and content audit for compliance verification\n• Quality assurance workflows and business intelligence analytics\n• Migration planning, accessibility evaluation, and document forensics\n\nBusiness applications:\n• Legal discovery, financial document review, and healthcare records analysis\n• Academic research, government processing, and publishing optimization\n\nOperational scenarios:\n• Large-scale profiling, migration assessment, and performance optimization\n• Automated quality control and content strategy development\n\nTarget users: Data analysts, QA teams, administrators, and business intelligence\nprofessionals requiring detailed document insights.\n"
    },
    {
      "name": "Misc",
      "description": "Specialized utilities and supplementary tools for enhanced document processing workflows.\n\nThis endpoint group provides utility operations that support core document processing\ntasks and address specific workflow needs in real-world scenarios.\n\nCommon use cases:\n• Document optimization for bandwidth-limited environments and storage cost management\n• Document repair, content extraction, and validation for quality assurance\n• Accessibility improvement and custom processing for specialized needs\n\nBusiness applications:\n• Web publishing optimization, email attachment management, and archive efficiency\n• Mobile compatibility, print production, and legacy document recovery\n\nOperational scenarios:\n• Batch processing, quality control, and performance optimization\n• Troubleshooting and recovery of problematic documents\n\nTarget users: System administrators, document specialists, and organizations requiring\nspecialized document processing and optimization tools.\n"
    },
    {
      "name": "Security",
      "description": "Document security and protection services for confidential and sensitive content.\n\nThis endpoint group provides essential security operations for organizations handling\nsensitive documents and materials requiring controlled access.\n\nCommon use cases:\n• Legal confidentiality, healthcare privacy (HIPAA), and financial regulatory compliance\n• Government classified handling, corporate IP protection, and educational privacy (FERPA)\n• Contract security for business transactions\n\nBusiness applications:\n• Document authentication, confidential sharing, and secure archiving\n• Content watermarking, access control, and privacy protection through redaction\n\nIndustry scenarios:\n• Legal discovery, medical records exchange, financial audit documentation\n• Enterprise policy enforcement and data governance\n\nTarget users: Legal professionals, healthcare administrators, compliance officers,\ngovernment agencies, and enterprises handling sensitive content.\n"
    }
  ],
  "paths": {
    "/api/v1/security/validate-signature": {
      "post": {
        "tags": [
          "Security"
        ],
        "summary": "Validate PDF Digital Signature",
        "description": "Validates the digital signatures in a PDF file against default or custom certificates. Input:PDF Output:JSON Type:SISO",
        "operationId": "validateSignature",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/SignatureValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Analysis or data extraction completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "JSON object containing the requested data or analysis results"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input parameters, unsupported format, or corrupted file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid input parameters or corrupted file"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 400,
                  "message": "Invalid input parameters or corrupted file",
                  "error": "Bad Request"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large - File exceeds maximum allowed size",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 413
                    },
                    "error": {
                      "type": "string",
                      "example": "Payload Too Large"
                    },
                    "message": {
                      "type": "string",
                      "example": "File size exceeds maximum allowed limit"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 413,
                  "message": "File size exceeds maximum allowed limit",
                  "error": "Payload Too Large"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - File is valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 422
                    },
                    "error": {
                      "type": "string",
                      "example": "Unprocessable Entity"
                    },
                    "message": {
                      "type": "string",
                      "example": "File is valid but cannot be processed"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 422,
                  "message": "File is valid but cannot be processed",
                  "error": "Unprocessable Entity"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Unexpected error during processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Unexpected error during processing"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 500,
                  "message": "Unexpected error during processing",
                  "error": "Internal Server Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "java",
            "label": "Java (SDK)",
            "source": "package hello.world;\n\nimport java.lang.Exception;\nimport org.openapis.openapi.Stirling;\nimport org.openapis.openapi.models.components.SignatureValidationRequest;\nimport org.openapis.openapi.models.errors.*;\nimport org.openapis.openapi.models.operations.ValidateSignatureResponse;\n\npublic class Application {\n\n    public static void main(String[] args) throws ValidateSignatureBadRequestException, ValidateSignatureRequestEntityTooLargeException, ValidateSignatureUnprocessableEntityException, ValidateSignatureInternalServerError, Exception {\n\n        Stirling sdk = Stirling.builder()\n            .build();\n\n        SignatureValidationRequest req = SignatureValidationRequest.builder()\n                .fileId(\"a1b2c3d4-5678-90ab-cdef-ghijklmnopqr\")\n                .build();\n\n        ValidateSignatureResponse res = sdk.security().validateSignature()\n                .request(req)\n                .call();\n\n    }\n}"
          }
        ]
      }
    },
    "/api/v1/security/sanitize-pdf": {
      "post": {
        "tags": [
          "Security"
        ],
        "summary": "Sanitize a PDF file",
        "description": "This endpoint processes a PDF file and removes specific elements based on the provided options. Input:PDF Output:PDF Type:SISO",
        "operationId": "sanitizePDF",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/SanitizePdfRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF processed successfully",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "description": "The processed PDF file",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input parameters, unsupported format, or corrupted file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid input parameters or corrupted file"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 400,
                  "message": "Invalid input parameters or corrupted file",
                  "error": "Bad Request"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large - File exceeds maximum allowed size",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 413
                    },
                    "error": {
                      "type": "string",
                      "example": "Payload Too Large"
                    },
                    "message": {
                      "type": "string",
                      "example": "File size exceeds maximum allowed limit"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 413,
                  "message": "File size exceeds maximum allowed limit",
                  "error": "Payload Too Large"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - File is valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 422
                    },
                    "error": {
                      "type": "string",
                      "example": "Unprocessable Entity"
                    },
                    "message": {
                      "type": "string",
                      "example": "File is valid but cannot be processed"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 422,
                  "message": "File is valid but cannot be processed",
                  "error": "Unprocessable Entity"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Unexpected error during processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Unexpected error during processing"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 500,
                  "message": "Unexpected error during processing",
                  "error": "Internal Server Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "java",
            "label": "Java (SDK)",
            "source": "package hello.world;\n\nimport java.lang.Exception;\nimport org.openapis.openapi.Stirling;\nimport org.openapis.openapi.models.components.SanitizePdfRequest;\nimport org.openapis.openapi.models.errors.*;\nimport org.openapis.openapi.models.operations.SanitizePDFResponse;\n\npublic class Application {\n\n    public static void main(String[] args) throws SanitizePDFBadRequestException, SanitizePDFRequestEntityTooLargeException, SanitizePDFUnprocessableEntityException, SanitizePDFInternalServerError, Exception {\n\n        Stirling sdk = Stirling.builder()\n            .build();\n\n        SanitizePdfRequest req = SanitizePdfRequest.builder()\n                .fileId(\"a1b2c3d4-5678-90ab-cdef-ghijklmnopqr\")\n                .build();\n\n        SanitizePDFResponse res = sdk.security().sanitizePDF()\n                .request(req)\n                .call();\n\n    }\n}"
          }
        ]
      }
    },
    "/api/v1/security/remove-password": {
      "post": {
        "tags": [
          "Security"
        ],
        "summary": "Remove password from a PDF file",
        "description": "This endpoint removes the password from a protected PDF file. Users need to provide the existing password. Input:PDF Output:PDF Type:SISO",
        "operationId": "removePassword",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PDFPasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF processed successfully",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "description": "The processed PDF file",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input parameters, unsupported format, or corrupted file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid input parameters or corrupted file"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 400,
                  "message": "Invalid input parameters or corrupted file",
                  "error": "Bad Request"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large - File exceeds maximum allowed size",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 413
                    },
                    "error": {
                      "type": "string",
                      "example": "Payload Too Large"
                    },
                    "message": {
                      "type": "string",
                      "example": "File size exceeds maximum allowed limit"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 413,
                  "message": "File size exceeds maximum allowed limit",
                  "error": "Payload Too Large"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - File is valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 422
                    },
                    "error": {
                      "type": "string",
                      "example": "Unprocessable Entity"
                    },
                    "message": {
                      "type": "string",
                      "example": "File is valid but cannot be processed"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 422,
                  "message": "File is valid but cannot be processed",
                  "error": "Unprocessable Entity"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Unexpected error during processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Unexpected error during processing"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 500,
                  "message": "Unexpected error during processing",
                  "error": "Internal Server Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "java",
            "label": "Java (SDK)",
            "source": "package hello.world;\n\nimport java.lang.Exception;\nimport org.openapis.openapi.Stirling;\nimport org.openapis.openapi.models.components.PDFPasswordRequest;\nimport org.openapis.openapi.models.errors.*;\nimport org.openapis.openapi.models.operations.RemovePasswordResponse;\n\npublic class Application {\n\n    public static void main(String[] args) throws RemovePasswordBadRequestException, RemovePasswordRequestEntityTooLargeException, RemovePasswordUnprocessableEntityException, RemovePasswordInternalServerError, Exception {\n\n        Stirling sdk = Stirling.builder()\n            .build();\n\n        PDFPasswordRequest req = PDFPasswordRequest.builder()\n                .fileId(\"a1b2c3d4-5678-90ab-cdef-ghijklmnopqr\")\n                .build();\n\n        RemovePasswordResponse res = sdk.security().removePassword()\n                .request(req)\n                .call();\n\n    }\n}"
          }
        ]
      }
    },
    "/api/v1/security/remove-cert-sign": {
      "post": {
        "tags": [
          "Security"
        ],
        "summary": "Remove digital signature from PDF",
        "description": "This endpoint accepts a PDF file and returns the PDF file without the digital signature. Input:PDF, Output:PDF Type:SISO",
        "operationId": "removeCertSignPDF",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PDFFile"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF processed successfully",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "description": "The processed PDF file",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input parameters, unsupported format, or corrupted file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid input parameters or corrupted file"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 400,
                  "message": "Invalid input parameters or corrupted file",
                  "error": "Bad Request"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large - File exceeds maximum allowed size",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 413
                    },
                    "error": {
                      "type": "string",
                      "example": "Payload Too Large"
                    },
                    "message": {
                      "type": "string",
                      "example": "File size exceeds maximum allowed limit"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 413,
                  "message": "File size exceeds maximum allowed limit",
                  "error": "Payload Too Large"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - File is valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 422
                    },
                    "error": {
                      "type": "string",
                      "example": "Unprocessable Entity"
                    },
                    "message": {
                      "type": "string",
                      "example": "File is valid but cannot be processed"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 422,
                  "message": "File is valid but cannot be processed",
                  "error": "Unprocessable Entity"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Unexpected error during processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Unexpected error during processing"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 500,
                  "message": "Unexpected error during processing",
                  "error": "Internal Server Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "java",
            "label": "Java (SDK)",
            "source": "package hello.world;\n\nimport java.lang.Exception;\nimport org.openapis.openapi.Stirling;\nimport org.openapis.openapi.models.components.PDFFile;\nimport org.openapis.openapi.models.errors.*;\nimport org.openapis.openapi.models.operations.RemoveCertSignPDFResponse;\n\npublic class Application {\n\n    public static void main(String[] args) throws RemoveCertSignPDFBadRequestException, RemoveCertSignPDFRequestEntityTooLargeException, RemoveCertSignPDFUnprocessableEntityException, RemoveCertSignPDFInternalServerError, Exception {\n\n        Stirling sdk = Stirling.builder()\n            .build();\n\n        PDFFile req = PDFFile.builder()\n                .fileId(\"a1b2c3d4-5678-90ab-cdef-ghijklmnopqr\")\n                .build();\n\n        RemoveCertSignPDFResponse res = sdk.security().removeCertSignPDF()\n                .request(req)\n                .call();\n\n    }\n}"
          }
        ]
      }
    },
    "/api/v1/security/redact": {
      "post": {
        "tags": [
          "Security"
        ],
        "summary": "Redacts areas and pages in a PDF document",
        "description": "This operation takes an input PDF file with a list of areas, page number(s)/range(s)/function(s) to redact. Input:PDF, Output:PDF, Type:SISO",
        "operationId": "redactPdfManual",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ManualRedactPdfRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF processed successfully",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "description": "The processed PDF file",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input parameters, unsupported format, or corrupted file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid input parameters or corrupted file"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 400,
                  "message": "Invalid input parameters or corrupted file",
                  "error": "Bad Request"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large - File exceeds maximum allowed size",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 413
                    },
                    "error": {
                      "type": "string",
                      "example": "Payload Too Large"
                    },
                    "message": {
                      "type": "string",
                      "example": "File size exceeds maximum allowed limit"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 413,
                  "message": "File size exceeds maximum allowed limit",
                  "error": "Payload Too Large"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - File is valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 422
                    },
                    "error": {
                      "type": "string",
                      "example": "Unprocessable Entity"
                    },
                    "message": {
                      "type": "string",
                      "example": "File is valid but cannot be processed"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 422,
                  "message": "File is valid but cannot be processed",
                  "error": "Unprocessable Entity"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Unexpected error during processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Unexpected error during processing"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 500,
                  "message": "Unexpected error during processing",
                  "error": "Internal Server Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "java",
            "label": "Java (SDK)",
            "source": "package hello.world;\n\nimport java.lang.Exception;\nimport java.util.List;\nimport org.openapis.openapi.Stirling;\nimport org.openapis.openapi.models.components.ManualRedactPdfRequest;\nimport org.openapis.openapi.models.errors.*;\nimport org.openapis.openapi.models.operations.RedactPdfManualResponse;\n\npublic class Application {\n\n    public static void main(String[] args) throws RedactPdfManualBadRequestException, RedactPdfManualRequestEntityTooLargeException, RedactPdfManualUnprocessableEntityException, RedactPdfManualInternalServerError, Exception {\n\n        Stirling sdk = Stirling.builder()\n            .build();\n\n        ManualRedactPdfRequest req = ManualRedactPdfRequest.builder()\n                .redactions(List.of())\n                .fileId(\"a1b2c3d4-5678-90ab-cdef-ghijklmnopqr\")\n                .build();\n\n        RedactPdfManualResponse res = sdk.security().redactPdfManual()\n                .request(req)\n                .call();\n\n    }\n}"
          }
        ]
      }
    },
    "/api/v1/security/get-info-on-pdf": {
      "post": {
        "tags": [
          "Security"
        ],
        "summary": "Summary here",
        "description": "desc. Input:PDF Output:JSON Type:SISO",
        "operationId": "getPdfInfo",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PDFFile"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Analysis or data extraction completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "JSON object containing the requested data or analysis results"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input parameters, unsupported format, or corrupted file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid input parameters or corrupted file"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 400,
                  "message": "Invalid input parameters or corrupted file",
                  "error": "Bad Request"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large - File exceeds maximum allowed size",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 413
                    },
                    "error": {
                      "type": "string",
                      "example": "Payload Too Large"
                    },
                    "message": {
                      "type": "string",
                      "example": "File size exceeds maximum allowed limit"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 413,
                  "message": "File size exceeds maximum allowed limit",
                  "error": "Payload Too Large"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - File is valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 422
                    },
                    "error": {
                      "type": "string",
                      "example": "Unprocessable Entity"
                    },
                    "message": {
                      "type": "string",
                      "example": "File is valid but cannot be processed"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 422,
                  "message": "File is valid but cannot be processed",
                  "error": "Unprocessable Entity"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Unexpected error during processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Unexpected error during processing"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 500,
                  "message": "Unexpected error during processing",
                  "error": "Internal Server Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "java",
            "label": "Java (SDK)",
            "source": "package hello.world;\n\nimport java.lang.Exception;\nimport org.openapis.openapi.Stirling;\nimport org.openapis.openapi.models.components.PDFFile;\nimport org.openapis.openapi.models.errors.*;\nimport org.openapis.openapi.models.operations.GetPdfInfoResponse;\n\npublic class Application {\n\n    public static void main(String[] args) throws GetPdfInfoBadRequestException, GetPdfInfoRequestEntityTooLargeException, GetPdfInfoUnprocessableEntityException, GetPdfInfoInternalServerError, Exception {\n\n        Stirling sdk = Stirling.builder()\n            .build();\n\n        PDFFile req = PDFFile.builder()\n                .fileId(\"a1b2c3d4-5678-90ab-cdef-ghijklmnopqr\")\n                .build();\n\n        GetPdfInfoResponse res = sdk.security().getPdfInfo()\n                .request(req)\n                .call();\n\n    }\n}"
          }
        ]
      }
    },
    "/api/v1/security/cert-sign": {
      "post": {
        "tags": [
          "Security"
        ],
        "summary": "Sign PDF with a Digital Certificate",
        "description": "This endpoint accepts a PDF file, a digital certificate and related information to sign the PDF. It then returns the digitally signed PDF file. Input:PDF Output:PDF Type:SISO",
        "operationId": "signPDFWithCert",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/SignPDFWithCertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF processed successfully",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "description": "The processed PDF file",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input parameters, unsupported format, or corrupted file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid input parameters or corrupted file"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 400,
                  "message": "Invalid input parameters or corrupted file",
                  "error": "Bad Request"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large - File exceeds maximum allowed size",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 413
                    },
                    "error": {
                      "type": "string",
                      "example": "Payload Too Large"
                    },
                    "message": {
                      "type": "string",
                      "example": "File size exceeds maximum allowed limit"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 413,
                  "message": "File size exceeds maximum allowed limit",
                  "error": "Payload Too Large"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - File is valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 422
                    },
                    "error": {
                      "type": "string",
                      "example": "Unprocessable Entity"
                    },
                    "message": {
                      "type": "string",
                      "example": "File is valid but cannot be processed"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 422,
                  "message": "File is valid but cannot be processed",
                  "error": "Unprocessable Entity"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Unexpected error during processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Unexpected error during processing"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 500,
                  "message": "Unexpected error during processing",
                  "error": "Internal Server Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "java",
            "label": "Java (SDK)",
            "source": "package hello.world;\n\nimport java.lang.Exception;\nimport org.openapis.openapi.Stirling;\nimport org.openapis.openapi.models.components.CertType;\nimport org.openapis.openapi.models.components.SignPDFWithCertRequest;\nimport org.openapis.openapi.models.errors.*;\nimport org.openapis.openapi.models.operations.SignPDFWithCertResponse;\n\npublic class Application {\n\n    public static void main(String[] args) throws SignPDFWithCertBadRequestException, SignPDFWithCertRequestEntityTooLargeException, SignPDFWithCertUnprocessableEntityException, SignPDFWithCertInternalServerError, Exception {\n\n        Stirling sdk = Stirling.builder()\n            .build();\n\n        SignPDFWithCertRequest req = SignPDFWithCertRequest.builder()\n                .certType(CertType.PKCS12)\n                .fileId(\"a1b2c3d4-5678-90ab-cdef-ghijklmnopqr\")\n                .build();\n\n        SignPDFWithCertResponse res = sdk.security().signPDFWithCert()\n                .request(req)\n                .call();\n\n    }\n}"
          }
        ]
      }
    },
    "/api/v1/security/auto-redact": {
      "post": {
        "tags": [
          "Security"
        ],
        "summary": "Redacts listOfText in a PDF document",
        "description": "This operation takes an input PDF file and redacts the provided listOfText. Input:PDF, Output:PDF, Type:SISO",
        "operationId": "redactPdfAuto",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/RedactPdfRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF processed successfully",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "description": "The processed PDF file",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input parameters, unsupported format, or corrupted file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid input parameters or corrupted file"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 400,
                  "message": "Invalid input parameters or corrupted file",
                  "error": "Bad Request"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large - File exceeds maximum allowed size",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 413
                    },
                    "error": {
                      "type": "string",
                      "example": "Payload Too Large"
                    },
                    "message": {
                      "type": "string",
                      "example": "File size exceeds maximum allowed limit"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 413,
                  "message": "File size exceeds maximum allowed limit",
                  "error": "Payload Too Large"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - File is valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 422
                    },
                    "error": {
                      "type": "string",
                      "example": "Unprocessable Entity"
                    },
                    "message": {
                      "type": "string",
                      "example": "File is valid but cannot be processed"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 422,
                  "message": "File is valid but cannot be processed",
                  "error": "Unprocessable Entity"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Unexpected error during processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Unexpected error during processing"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 500,
                  "message": "Unexpected error during processing",
                  "error": "Internal Server Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "java",
            "label": "Java (SDK)",
            "source": "package hello.world;\n\nimport java.lang.Exception;\nimport org.openapis.openapi.Stirling;\nimport org.openapis.openapi.models.components.RedactPdfRequest;\nimport org.openapis.openapi.models.errors.*;\nimport org.openapis.openapi.models.operations.RedactPdfAutoResponse;\n\npublic class Application {\n\n    public static void main(String[] args) throws RedactPdfAutoBadRequestException, RedactPdfAutoRequestEntityTooLargeException, RedactPdfAutoUnprocessableEntityException, RedactPdfAutoInternalServerError, Exception {\n\n        Stirling sdk = Stirling.builder()\n            .build();\n\n        RedactPdfRequest req = RedactPdfRequest.builder()\n                .customPadding(4612.42)\n                .fileId(\"a1b2c3d4-5678-90ab-cdef-ghijklmnopqr\")\n                .build();\n\n        RedactPdfAutoResponse res = sdk.security().redactPdfAuto()\n                .request(req)\n                .call();\n\n    }\n}"
          }
        ]
      }
    },
    "/api/v1/security/add-watermark": {
      "post": {
        "tags": [
          "Security"
        ],
        "summary": "Add watermark to a PDF file",
        "description": "This endpoint adds a watermark to a given PDF file. Users can specify the watermark type (text or image), rotation, opacity, width spacer, and height spacer. Input:PDF Output:PDF Type:SISO",
        "operationId": "addWatermark",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AddWatermarkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF processed successfully",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "description": "The processed PDF file",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input parameters, unsupported format, or corrupted file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid input parameters or corrupted file"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 400,
                  "message": "Invalid input parameters or corrupted file",
                  "error": "Bad Request"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large - File exceeds maximum allowed size",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 413
                    },
                    "error": {
                      "type": "string",
                      "example": "Payload Too Large"
                    },
                    "message": {
                      "type": "string",
                      "example": "File size exceeds maximum allowed limit"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 413,
                  "message": "File size exceeds maximum allowed limit",
                  "error": "Payload Too Large"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - File is valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 422
                    },
                    "error": {
                      "type": "string",
                      "example": "Unprocessable Entity"
                    },
                    "message": {
                      "type": "string",
                      "example": "File is valid but cannot be processed"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 422,
                  "message": "File is valid but cannot be processed",
                  "error": "Unprocessable Entity"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Unexpected error during processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Unexpected error during processing"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 500,
                  "message": "Unexpected error during processing",
                  "error": "Internal Server Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "java",
            "label": "Java (SDK)",
            "source": "package hello.world;\n\nimport java.lang.Exception;\nimport org.openapis.openapi.Stirling;\nimport org.openapis.openapi.models.components.AddWatermarkRequest;\nimport org.openapis.openapi.models.components.WatermarkType;\nimport org.openapis.openapi.models.errors.*;\nimport org.openapis.openapi.models.operations.AddWatermarkResponse;\n\npublic class Application {\n\n    public static void main(String[] args) throws AddWatermarkBadRequestException, AddWatermarkRequestEntityTooLargeException, AddWatermarkUnprocessableEntityException, AddWatermarkInternalServerError, Exception {\n\n        Stirling sdk = Stirling.builder()\n            .build();\n\n        AddWatermarkRequest req = AddWatermarkRequest.builder()\n                .watermarkType(WatermarkType.IMAGE)\n                .fileId(\"a1b2c3d4-5678-90ab-cdef-ghijklmnopqr\")\n                .build();\n\n        AddWatermarkResponse res = sdk.security().addWatermark()\n                .request(req)\n                .call();\n\n    }\n}"
          }
        ]
      }
    },
    "/api/v1/security/add-password": {
      "post": {
        "tags": [
          "Security"
        ],
        "summary": "Add password to a PDF file",
        "description": "This endpoint adds password protection to a PDF file. Users can specify a set of permissions that should be applied to the file. Input:PDF Output:PDF",
        "operationId": "addPassword",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AddPasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF processed successfully",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "description": "The processed PDF file",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input parameters, unsupported format, or corrupted file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid input parameters or corrupted file"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 400,
                  "message": "Invalid input parameters or corrupted file",
                  "error": "Bad Request"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large - File exceeds maximum allowed size",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 413
                    },
                    "error": {
                      "type": "string",
                      "example": "Payload Too Large"
                    },
                    "message": {
                      "type": "string",
                      "example": "File size exceeds maximum allowed limit"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 413,
                  "message": "File size exceeds maximum allowed limit",
                  "error": "Payload Too Large"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - File is valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 422
                    },
                    "error": {
                      "type": "string",
                      "example": "Unprocessable Entity"
                    },
                    "message": {
                      "type": "string",
                      "example": "File is valid but cannot be processed"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 422,
                  "message": "File is valid but cannot be processed",
                  "error": "Unprocessable Entity"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Unexpected error during processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Unexpected error during processing"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 500,
                  "message": "Unexpected error during processing",
                  "error": "Internal Server Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "java",
            "label": "Java (SDK)",
            "source": "package hello.world;\n\nimport java.lang.Exception;\nimport org.openapis.openapi.Stirling;\nimport org.openapis.openapi.models.components.AddPasswordRequest;\nimport org.openapis.openapi.models.components.KeyLength;\nimport org.openapis.openapi.models.errors.*;\nimport org.openapis.openapi.models.operations.AddPasswordResponse;\n\npublic class Application {\n\n    public static void main(String[] args) throws AddPasswordBadRequestException, AddPasswordRequestEntityTooLargeException, AddPasswordUnprocessableEntityException, AddPasswordInternalServerError, Exception {\n\n        Stirling sdk = Stirling.builder()\n            .build();\n\n        AddPasswordRequest req = AddPasswordRequest.builder()\n                .keyLength(KeyLength.ONE_HUNDRED_AND_TWENTY_EIGHT)\n                .fileId(\"a1b2c3d4-5678-90ab-cdef-ghijklmnopqr\")\n                .build();\n\n        AddPasswordResponse res = sdk.security().addPassword()\n                .request(req)\n                .call();\n\n    }\n}"
          }
        ]
      }
    },
    "/api/v1/pipeline/handleData": {
      "post": {
        "tags": [
          "Pipeline"
        ],
        "summary": "Execute automated PDF processing pipeline",
        "description": "This endpoint processes multiple PDF files through a configurable pipeline of operations. Users provide files and a JSON configuration defining the sequence of operations to perform. Input:PDF Output:PDF/ZIP Type:MIMO",
        "operationId": "handleData",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/HandleDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Files processed successfully. Returns single file or ZIP archive containing multiple files.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "description": "Single PDF file result",
                  "format": "binary"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "description": "ZIP archive containing multiple output files",
                  "format": "binary"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "description": "Single image file (PNG)",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "description": "Single image file (JPEG)",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input parameters, unsupported format, or corrupted file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid input parameters or corrupted file"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 400,
                  "message": "Invalid input parameters or corrupted file",
                  "error": "Bad Request"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large - File exceeds maximum allowed size",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 413
                    },
                    "error": {
                      "type": "string",
                      "example": "Payload Too Large"
                    },
                    "message": {
                      "type": "string",
                      "example": "File size exceeds maximum allowed limit"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 413,
                  "message": "File size exceeds maximum allowed limit",
                  "error": "Payload Too Large"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - File is valid but cannot be processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 422
                    },
                    "error": {
                      "type": "string",
                      "example": "Unprocessable Entity"
                    },
                    "message": {
                      "type": "string",
                      "example": "File is valid but cannot be processed"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 422,
                  "message": "File is valid but cannot be processed",
                  "error": "Unprocessable Entity"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - Unexpected error during processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Unexpected error during processing"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 500,
                  "message": "Unexpected error during processing",
                  "error": "Internal Server Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "java",
            "label": "Java (SDK)",
            "source": "package hello.world;\n\nimport java.lang.Exception;\nimport java.util.List;\nimport org.openapis.openapi.Stirling;\nimport org.openapis.openapi.models.components.HandleDataRequest;\nimport org.openapis.openapi.models.errors.*;\nimport org.openapis.openapi.models.operations.HandleDataResponse;\n\npublic class Application {\n\n    public static void main(String[] args) throws HandleDataBadRequestException, HandleDataRequestEntityTooLargeException, HandleDataUnprocessableEntityException, HandleDataInternalServerError, Exception {\n\n        Stirling sdk = Stirling.builder()\n            .build();\n\n        HandleDataRequest req = HandleDataRequest.builder()\n                .fileInput(List.of())\n                .json(\"{\\\\\"name\\\\\":\\\\\"Prepare-pdfs-for-email\\\\\",\\\\\"pipeline\\\\\":[{\\\\\"operation\\\\\":\\\\\"/api/v1/misc/repair\\\\\",\\\\\"parameters\\\\\":{}},{\\\\\"operation\\\\\":\\\\\"/api/v1/security/sanitize-pdf\\\\\",\\\\\"parameters\\\\\":{\\\\\"removeJavaScript\\\\\":true,\\\\\"removeEmbeddedFiles\\\\\":false}},{\\\\\"operation\\\\\":\\\\\"/api/v1/misc/compress-pdf\\\\\",\\\\\"parameters\\\\\":{\\\\\"optimizeLevel\\\\\":2}}]}\")\n                .build();\n\n        HandleDataResponse res = sdk.pipeline().handleData()\n                .request(req)\n                .call();\n\n    }\n}"
          }
        ]
      }
    },
    "/api/v1/misc/update-metadata": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Update metadata of a PDF file",
        "description": "This endpoint allows you to update the metadata of a given PDF file. You can add, modify, or delete standard and custom metadata fields. Input:PDF Output:PDF Type:SISO",
        "operationId": "metadata",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/MetadataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF processed successfully",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "description": "The processed PDF file",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input parameters, unsupported format, or corrupted file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid input parameters or corrupted file"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
                  "timestamp": "2024-01-15T10:30:00Z",
                  "path": "/api/v1/example/endpoint",
                  "status": 400,
                  "message": "Invalid input parameters or corrupted file",
                  "error": "Bad Request"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large - File exceeds maximum allowed size",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 413
                    },
                    "error": {
                      "type": "string",
                      "example": "Payload Too Large"
                    },
                    "message": {
                      "type": "string",
                      "example": "File size exceeds maximum allowed limit"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00Z"
                    },
                    "path": {
                      "type": "string",
                      "example": "/api/v1/example/endpoint"
                    }
                  }
                },
                "example": {
[...]
